body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    position: relative;
  }
  
  .card {
    width: 300px;
    cursor: pointer;
  }
  
  #carta-img {
    width: 100%;
    height: auto;
  }  